.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: "14rem";
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    border-radius: 10px;
  }
  
  .container:hover .overlay {
    opacity: 0.8;
    
  }
  
  .text {
    color: white;
    font-size: 13px;
    position: absolute;
    text-justify: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }